body {
    font-family: Arial, sans-serif;
    background-color: #dddee1;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap:40px;
    background-color: rgb(36, 39, 64);
    margin-top: 20px;

    
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .form-section{
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
  }
  .preview-section {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
  
  }
  
  .form-section label,
  .preview-section h3,
  .preview-section p {
    margin-bottom: 5px;
  }
  
  .form-section input,
  .form-section textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #live-preview {
    display: flex;
  }
  
  #image-preview {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-right: 10px;
  }
  
  #content-preview {
    flex-grow: 1;
  }
  
  #name-preview {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  #email-preview,
  #message-preview {
    margin-bottom: 10px;
  }
  
  #written-by {
    font-size: 14px;
    color: #777;
  }
  